<!--footer-->
<footer>
  <nav class="navbar fixed-bottom" style="background-image: linear-gradient(-25deg, rgba(0,0,0,1) 24%, rgba(45,140,253,1) 68%);">
    <h6 class="navbar-text"> Contact info at <a href="mailto:ashvien.rameshkumar@ontariotechu.net">
      ashvien.rameshkumar@ontariotechu.net</a></h6>

    <h6 class="text-light">&copy; Copyright 2024. All rights reserved</h6>
  </nav>
  </footer>
</body>
</html>